# version:1.0
#oracle_config.txt - 2012/11/31
#Configuration File for unix.any.oracle.OracleQueriesV2
#
#Define the first server
#oracle1
#	sid=test2
#	user=username1
#	password=userpassword1
#
#Define the second server
#oracle2
#	sid=test2
#	user=username2
#	password=userpassword2
