# version:1.0
#oracle_config.txt - 2016/06/06
#Configuration File for win.any.oracle.OracleQueriesV2
#
#Note that all special characters used in password should be escaped to remain executable wia command line
#Define the first server
#oracle1
#	sid=test2
#	user=username1
#	password=userpassword1
#
#Define the second server
#oracle2
#	sid=test2
#	user=username2
#	password=userpassword2
