# version:1.0
# # config.txt - 2019/01/28
# # Configuration File for win.any.sybase.SybaseV2 collector
# # please don't set password in quotes!

# # Define first server
# #
# server1
	# type = sybase-server
	# server = VMFST
	# user = sa
	# password = 12345
	# authentication = client

# # Define second server
# #
# server2
	# type = sybase-server
	# server = VMFSTA
	# user = sa
	# password = 123
	# authentication = client
