# version:1.0
#ansible_tower_config.txt - 2019/11/28
#Configuration File for unix.any.ansibleTower.AnsibleTowerV1
# domainName - MANDATORY_PARAM! In domainName field define full domain name of Ansible Tower with used protocol http/https
# user - MANDATORY_PARAM! In user field define username of AnsibleTower admin account
# password - MANDATORY_PARAM! In password field define password of AnsibleTower admin account
# access_token - NOT_MANADATORY If you use access token to login define it in access_token field
#  instead of user/password(you can leave user/password fields empty)
#
# In collector any.any.ansibleTower.AnsibleTowerV1 multi instance of Ansible Tower IS NOT SUPPORTED!
#
#Define instance
#ansible1
#	domainName = http://example.com
#	user = username1
#	password = userpassword1
#   access_token = token_value



