# version:1.0
## mssql_config.txt - 2019/02/20
## Configuration File for win.any.mssql.MSSQLV5 collector
# ATTENTION!!!
#   -It's not necessary to put values in double quotes
#   -If you use specific characters in password they must be escaped according to the cmd.exe escape characters rules

#find-instances = false
#encrypt-first = false
#authentication = mixed
#user = sa

#instance1
#	type = mssql-server
#	instance = default
#	authentication = windows
#	user = "user"
#	password = "password"
#	
#instance2
#	type = mssql-server
#	instance = inst2
#	authentication = windows
#	user = "user"
#	password = "password"
#	
#instance3
#	type = mssql-server
#	instance = inst3
#	password = "password"
