# version:1.0
## linmssql_config.txt - 2019/02/20
## Configuration File for unix.any.mssql.MSSQLV1 collector
# ATTENTION!!!
#   -It's not necessary to put values in double quotes
#   -If you use specific characters in password they must be escaped according to the cmd.exe escape characters rules

#port = 8888
#user = super_user
#server = 1.2.3.4

#instance1
#	instance = MSSQLSERVER
#	server = localhost
#	user = "user"
#	password = "password"
#	port = 1433
#	
#instance2
#	password = "password"
#	instance = MSSQLSERVER4
#	
#instance3
#	password = "password"
#	instance = MSSQLSERVER3
