# version:1.0
## tomcat_config.txt - 2017/01/04
## Configuration File for any.any.TomcatV1 collector
#
#[instance1]
# install_path = D:\Java\lib\apache-tomcat-8.5.26\apache-tomcat-8.5.24
# catalina_base = D:\Java\lib\apache-tomcat-8.5.26\apache-tomcat-8.5.24
# checked_os_users = User1, User2
# minimum_umask = 0007
# allowed_packages = sun., com.org.apache.
#
#[instance2]
# install_path = D:\Java\lib\apache-tomcat-8.5.26\apache-tomcat-8.5.24
# catalina_base = D:\Java\lib\apache-tomcat-8.5.26\apache-tomcat-8.5.24
# checked_os_users = User10, User20
# minimum_umask = 0077
# allowed_packages = org.xml.sax., com.org.apache.
