# version:1.0
#it's commentary, it is not parsed by collector
#do not delete this string || commentary || The configuration file for vmware.any.ESXiV1 collector
#----------------------------------------------------------------------------------
#commentary || definition of connection for vCenter Server or directly ESXi machine
#----------------------------------------------------------------------------------
#connection.new
#target=<host name of machine>
#login=<login of user>
#password=<password for user>
#connection.close
#----------------------------------------------------------------------------------
#commentary || end of definition
#---------------------------------------------
#do not delete this string || commentary || localhost <- the keyword
#----------------------------------------------------------------------------------
