# version:1.0
# config.txt - 2017/01/20
# Configuration File for any.any.SAPV1 collector for DB2 server
# 
# Define one DB2 instance
#sid = SAP_INSTANCE_SID
#db2user = USER_NAME
#db2pass = _encED3_fyarKQSrqV0e70yPLYkdXg==_encEDend3_
# Define group of DB2 instances
#group = SAP_SID1,SAP_SID2
#db2user = USER_NAME
#db2pass = _encED3_fyarKQSrqV0e70yPLYkdXg==_encEDend3_
# Define HANA connection pair
# hdbuser = TSMBACKUP
# hdbport = port_number // could be missed is default port is in use
