# version:1.0
# # mqseries_config.txt - 2018/07/27
# # Configuration File for unix.multi.mqseries.MQSeriesServerV1 collector


# # Define first parameter
# parameter1
	# type = UNIX_TMP_PATH
	# UNIX_TMP_PATH = "/tmp"
