# version:1.0
## apache_config.txt - 2010/11/26
## Configuration File for win.any.apache.WsApachePermsV3 collector
#
## File metadata
##
#file-information
#	type = collector-parameters
#
#	collector = Apache
#	file = apache_config.txt
#	version = 1
#	date = "2010/11/26"
#	comment = "Configuration File for win.any.apache.WsApachePermsV3 collector"
#
## Define first parameter
#patameter1
#	type = HTTPDCONF_PATH_NAME
#	httpdconf_path_name = "C:\Program Files\Apache Group\Apache\conf\httpd.conf"

