# version:1.0
#file-informations
#        type = "collector-configuration"
#        collector = SudoersV3
#        file = config.template
#        version = 1
#        date = "2018/03/26"
#        comment = "ConfigurAtion file to override SudoersV3 collector parameters"
#sudo-parameters
#        CONFIG_FILE = "<CONFIG_FILE_PATH>"
