# version:1.0
# ===========================================================================
# Licensed Materials - Property of IBM
#
# (C) Copyright IBM Corp. 2018 All Rights Reserved.
#
# US Government Users Restricted Rights - Use, duplication or
# disclosure restricted by GSA ADP Schedule Contract with IBM Corp.
# ===========================================================================
# Use this file to override unix.any.NetCoolImpactV1 collector parameters.
# Collector parameters must be specified in the netcool-parameters section:
#     Lines starting with # are processed as comments 
#     E.G.:
#     netcool-parameters
#     #Parameter for sudo folder with sudoers file
#     #INSTALL_PATH -- contails value of IMPACT_HOME variable
#        INSTALL_PATH = "/opt/IBM/tivoli/impact"
#        SERVER_NAME = "server"
#
#     Please Note: Any String value with non alphanumeric character should
#                   be surrounded with double quotes. 
#	<VALUE> -- should be replaced by YOUR values
# 
#file-informations
#        type = "collector-configuration"
#        collector = NetCoolImpactV1
#        file = config.template
#        version = 1
#        date = "2017/02/06"
#        comment = "ConfigurAtion file to override NetCoolImpactV1 collector parameters"
#netcool-parameters
#        INSTALL_PATH = "<IMPACT_HOME>"
#        SERVER_NAME = "<SERVER_NAME>"
