# version:1.0

# # config.txt - 2019/01/29
# # Configuration File for unix.any.sybase.SybaseV2 collector
# # please don't set password in quotes!

# # Define first server
# #
# server1
	# type = sybase-server
	# server = sybase12
	# user = sa
	# password = 123

# # Define second server
# #
# server2
	# type = sybase-server
	# server = sybase15
	# user = sa
	# password = 12345
