# version:1.0
# config.txt - 2010/12/16
# Configuration File for unix.any.itm.ITMV2 collector

# File metadata
#
#file-information
#	type = collector-configuration
#	collector = ITM
#	file = itm_config.txt
#	version = 2
#	date = "2014/12/16"
#	comment = "Configuration File for unix.any.itm.ITMV2 collector"

# Define ITM servers parameters
# 
# INSTALL_PATH	- the ITM installation path - the mandatory parameter (i.e. "/opt/IBM/ITM").
#
# If TEPS is installed, then the next 2 parameters should be filled:
# user	- the user ID with according access rights to login to TEPS (i.e. "sysadmin").
# password   	- its password
# teps			- host name or ip address of TEPS to be used by tacmd command

#New configuration file format:
#Each configuration name consists of "config" string and suffix.
#Suffix consists of letters, digits, hyphen, like config1, config2, config-test1
#
#config1
#	user = 
#	password = 
#	INSTALL_PATH = 
#	teps = 
