# version:1.0
## postgres_config.txt - 2021/08/31
## Configuration File for any.any.postgreSQLV1 collector
# ATTENTION!!!
#   -If you use specific characters in password they must be escaped according to the cmd.exe escape characters rules


#instance1
#	server = localhost
#	user = "user"
#	password = "password"
#	port = 1433
#	
#instance2
#   server = postgres_server2
#	user = "user"
#	password = "password"
#	port = 1456
#
